@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #070707;
}
  
::-webkit-scrollbar {
  width: 1em;
}
  
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3092B0;
}